/* ファイル全体改変禁止 */
/* フッターの設定 */
footer {
  border-top: 2px solid var(--colorII);
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-con {
  padding: 8px 0 10px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.tokai-info {
  margin: auto 0;
}

.trip-to-tokai {
  margin: auto 0;
}

.trip-to-tokai p {
  opacity: 0.6;
  font-size: var(--stFont);
  color: var(--colorII);
}

.sns {
  text-align: center;
  display: flex;
  gap: 20px;
}

.sns a i {
  font-size: var(--xltFont);
  color: black;
}
