@media (max-width: 960px) {
  .footer-con {
    padding: 15px 0 20px;
  }

  .footer-info {
    display: block;
    text-align: center;
  }

  .footer-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .trip-to-tokai {
    position: static;
    transform: translate(0%,0%);
  }
}

@media (max-width: 640px) {
  .footer-media {
    display: block;
  }

  .trip-to-tokai {
    padding: 20px 0;
  }
}

@media (max-width: 350px) {
  .tokai-info h2 {
    font-size: var(--xstFont);
  }

  .tokai-info p {
    font-size: var(--sbFont);
  }
}