@media (min-width: 901px) {
  .nav-con {
    display: flex;
  }
}

@media (max-width: 900px) {
  .burger-menu {
    display: flex;
  }

  .burger-menu .toggle-burger {
    display: none;
  }

  .burger-menu .toggle-burger.active {
    display: block;
  }

  .nav-con {
    opacity: 0;
    background-color: white;
    display: flex;
    position: absolute;
    top: 72px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .nav-con.active {
    opacity: 1;
  }

  .nav-con.show,
  .nav-con.hide {
    transition: opacity 0.5s ease;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  .nav-links ul li a {
    width: 72px;
  }
}
