/* 環境変数 */
:root {
  /* 文字の大きさ・文章 */
  --SbFont: 16px;
  --MbFont: 19px;
  --LbFont: 22px;

  /* 文字の大きさ・タイトル */
  --XStFont: 24px;
  --StFont: 30px;
  --MtFont: 36px;
  --LtFont: 42px;
  --XLtFont: 48px;
}

.title-con {
  text-align: center;
  padding: 30px;
}

.title-con figure img {
  width: 1200px;
  height: 400px;
}

.newinfo-con {
  display: flex;
  justify-content: center;
}

.box {
  width: 1000px;
  height: 300px;
  background-color: white;
  border: 3px solid black;
  margin: 30px;
}

.box h1 {
  padding: 20px;
  font-size: var(--MtFont);
  font-family: serif;
}

.map-con {
  margin: 20px;
}

.map-con h1 {
  margin: 10px;
}

