/* 環境変数・改変禁止 */
:root {
  /* 文字の大きさ・文章 */
  --SbFont: 16px;
  --MbFont: 19px;
  --LbFont: 22px;

  /* 文字の大きさ・タイトル */
  --XStFont: 24px;
  --StFont: 30px;
  --MtFont: 36px;
  --LtFont: 42px;
  --XLtFont: 48px;
}

/* ここから編集 */
h2 {
  font-size: var(--LbFont)
}
h3{
  font-size:var(--LbFont);
}