/* トップ */
.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .07;
  transform: translate(-50%, -50%);
  font-size: 120px;
  user-select: none;
  pointer-events: none;
}

/* アクセス */

#access h1 {
  margin: 20px;
  font-size: var(--mtFont);
}

.access-title {
  display: flex;
  align-items: center;
}

.access-con {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: 5px auto;
}

.map {
  width: 45%;
  border: 0;
  max-width: 500px;
}

.access-detail h2 {
  font-size: var(--ltFont);
}

.access-detail {
  display: flex;
  /* またはrowでも構成による */
  align-items: center;
  /* 横方向の中央揃え */
  justify-content: center;
  /* 縦方向の中央揃え（子が複数なら効果あり） */
}

.station-name span {
  font-size: var(--mbFont);
}

.station-name {
  line-height: 1;
}

.required-minutes {
  display: flex;
}

.required-minutes span {
  font-size: 100px;
  color: rgb(16, 0, 73);
}

.toho {
  transform: translateY(-30px);
}

.higashiyama {
  border-left: 2px solid rgb(35, 0, 160);
  margin-left: 20px;
  padding-left: 20px;
}

/* 記念祭とは */

.wh-kinen-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wh-kinen-box {
  position: relative;
  min-height: 300px;
  max-width: 900px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 30px;
  padding: 20px;
  background-color: rgb(227, 244, 247);
  border-radius: 20px;
}

.wh-kinen-box p {
  margin: 10px;
  font-size: var(--mbFont);
  padding: 20px;
}

.wh-kinen-box h2 {
  margin: 10px;
}

.wh-kinen-group {
  display: flex;
}

.slider figure img {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.photo1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  position: relative;
  width: 300px;
  height: 200px;
}

.slide {
  opacity: 0;
  animation: fade 9s infinite;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 3s;
}

.slide:nth-child(3) {
  animation-delay: 6s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.align-right {
  margin: 10px;
  text-align: right;
}

.wh-kinen-box a {
  display: inline-block;
  font-size: var(--lbFont);
  cursor: pointer;
  text-decoration: none;
  color: var(--colorII);
  transition: all 0.5s;
}

.wh-kinen-box a:hover {
  opacity: 1;
  visibility: visible;
  color: blueviolet;
}

.wh-kinen-box a:hover .direction {
  opacity: 1;
  visibility: visible;
  color: blueviolet;
  font-size: var(--lbFont);
}

.direction {
  visibility: hidden;
  opacity: 0;
  color: var(--colorII);
  font-size: var(--sbFont);
  transition: all 0.5s;
}
