@media (max-width: 960px) {
  .theme-info h2 {
    font-size: 90px;
  }
  .theme-info p {
    font-size: var(--mbFont);
  }
}

@media (max-width: 768px) {
  .theme-con {
    max-width: 484px;
    width: 90%;
  }

  .theme-info h1 {
    font-size: var(--mtFont);
  }

  .theme-info h2 {
    font-size: 76px;
  }
}

@media (max-width: 512px) {
  .theme-info {
    padding: 30px;
  }

  .theme-info h1 {
    font-size: var(--stFont);
  }

  .theme-info h2 {
    font-size: 56px;
  }
}

@media (max-width: 360px) {
  .theme-info h2 {
    font-size: var(--xltFont);
  }  
}