/* ここから編集 */
h2 {
  font-size: var(--mtFont);
  text-align: center;
}

h3 {
  font-size: var(--stFont);
  text-align: center;
}

.dl-link {
  text-align: center;
}

.dl-link a {
  font-size: var(--lbFont);
}