/* ここから編集 */
main {
  padding: 72px 0 36px;
  flex-grow: 1;
  font-family: var(--fontIII);
}

main h2 {
  font-size: var(--mtFont);
  text-align: center;
}

main h3 {
  font-size: var(--stFont);
  text-align: center;
}

.dl-link {
  text-align: center;
}

.dl-link p {
  font-size: var(--lbFont);
  cursor: not-allowed;
  user-select: none;
  color: black;
}

.dl-link a {
  display: none;
}
