/* 環境変数・改変禁止 */
:root {
  /* 文字の大きさ・文章 */
  --SbFont: 16px;
  --MbFont: 19px;
  --LbFont: 22px;

  /* 文字の大きさ・タイトル */
  --XStFont: 24px;
  --StFont: 30px;
  --MtFont: 36px;
  --LtFont: 42px;
  --XLtFont: 48px;
}

/* ここから編集 */
#info {
  min-height: 415px;
  margin: 10px 0;
}

.info-con h1 {
  margin: 20px;
  font-size: var(--LtFont);
}

.qa-con h2 {
  margin: 20px;
  font-size: var(--MtFont);
}

.qa-box {
  max-width: 960px;
  padding: 30px;
  margin: 0 auto 40px auto;
  border: ridge 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
}

.qa-title {
  padding-bottom: 40px;
}

.qa-title {
  font-size: var(--XStFont);
}

.qa-answer {
  font-size: var(--MbFont);
}
