/* 環境変数・改変禁止 */
:root {
  /* 文字の大きさ・文章 */
  --SbFont: 16px;
  --MbFont: 19px;
  --LbFont: 22px;

  /* 文字の大きさ・タイトル */
  --XStFont: 24px;
  --StFont: 30px;
  --MtFont: 36px;
  --LtFont: 42px;
  --XLtFont: 48px;
}


#logo {
  min-height: 1215px;
}

.schedule-con {
  display: block;
  width: 50%;
}

.day-con {
  display: flex;
  justify-content: left;
  gap: 50px;
  margin: 5px auto;
}