/* ここから編集 */
main {
  padding: 72px 0 36px;
  flex-grow: 1;
}

.spacer {
  display: block;
  height: 26px;
}

#top {
  min-height: 100px;
}

.top-con {
  text-align: center;
  margin: 15px 0 30px;
}

.top-info h1 {
  font-size: var(--ltFont);
}

.project-con {
  display: flex;
  margin: 25px 5%;
}

.info {
  margin: 0 20px;
}

.info h2 {
  margin: 5px 0;
  font-size: var(--stFont);
}

.info p {
  margin: 0 10px;
  font-size: var(--mbFont);
}

#class-project,
#stage-project,
#kodo-project,
#mock-store {
  min-height: 400px;
}

.picture {
  width: 480px;
  height: 320px;
  margin: 0 auto;
}

.item figure img {
  margin: 10px auto 0;
  padding: 0 1px;
  width: 480px !important;
  height: 320px;
  object-fit: contain;
}
