/* 環境変数・改変禁止 */
:root {
  /* 文字の大きさ・文章 */
  --SbFont: 16px;
  --MbFont: 19px;
  --LbFont: 22px;

  /* 文字の大きさ・タイトル */
  --XStFont: 24px;
  --StFont: 30px;
  --MtFont: 36px;
  --LtFont: 42px;
  --XLtFont: 48px;
}

/* ここから編集 */
.spacer {
  display: block;
  height: 26px;
}


#theme {
  min-height: 615px;
}

.theme-con {
  max-width: 1215px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.theme-info h1 {
  font-size: var(--MtFont);
  position: relative;
}

.theme-info h2 {
  font-size: var(--XStFont);
  padding: 40px 0;
}

.theme-info p {
  font-size: var(--SbFont);
  line-height: 160%;
}